@import './variables.scss';

html, body, #root, .main-container {
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  width: 100%;
  color: $gray;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 60px;
}

.margin-bottom {
  margin-bottom: 60px;
}

.tagline {
  p {
    margin: 0;
    font-style: italic;
  }
}

.badge{
  background-color: $teal;
  color: white;
  position: relative;
  height: 20px;
  min-width: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding-top: 2px;
  padding-right: 1px;
  left: -5px;
}

.primary-button {
  background: none;
  border: none;
  padding: 10px;
  background-color: $gray;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.list-icon {
  margin: 0 15px;

  &:last-child {
    margin: 0px;
  }
}

.teal-text {
  color: $teal !important;
}

.bold {
  font-weight: bold;
}
